<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Your Best Game</title>

    <link rel="stylesheet" type="text/css" href="assets/css/reset.css">
    <link rel="stylesheet" type="text/css" href="assets/css/main.css">
    <script type="text/javascript" src="assets/js/jquery.js"></script>
    <script type="text/javascript" src="assets/js/main.js"></script>

    <script type="text/javascript" src='http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.8/vue.js'></script>
    <script type="text/javascript" src='http://cdnjs.cloudflare.com/ajax/libs/vue-resource/0.1.16/vue-resource.min.js'></script>

    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
</head>
<body id="Vista">

<header>
    <div class="logo">
        <a href="index.html"><img src="assets/img/logo.png" title="YourBestGame" alt="YourBestGame"/></a>
    </div><!-- end logo -->

    <div id="menu_icon"></div>
    <nav>
        <ul v-if="!token">
            <li><a href="#">Register</a></li>
            <li><a href="index.html">Login</a></li>
        </ul>
        <ul v-if="token">
            <li><a href="Vista.html" class="selected">Home</a></li>
            <li><a href="#" v-on:click.prevent="getToken">Prova Token</a></li>
            <li><a href="#" v-on:click.prevent="loadMyGames">My Games</a></li>
            <li><a href="#" v-on:click.prevent="">Add new game</a></li>
            <li><a href="#" v-on:click.prevent="logout">LogOut</a></li>
        </ul>
    </nav><!-- end navigation menu -->

    <!--<div class="footer clearfix">-->
        <!--<ul class="social clearfix">-->
            <!--<li><a href="#" class="fb" data-title="Facebook"></a></li>-->
            <!--<li><a href="#" class="google" data-title="Google +"></a></li>-->
            <!--<li><a href="#" class="rss" data-title="RSS"></a></li>-->
        <!--</ul>&lt;!&ndash; end social &ndash;&gt;-->

        <!--<div class="rights">-->
            <!--<p>Copyright © 2016 YourBestGame.</p>-->
        <!--</div>&lt;!&ndash; end rights &ndash;&gt;-->
    <!--</div >&lt;!&ndash; end footer &ndash;&gt;-->
</header><!-- end header -->

<section class="main clearfix">
    <!--<div class="work">-->
        <!--<a href="#">-->
            <!--<img src="assets/img/work1.jpg" class="media" alt=""/>-->
            <!--<div class="caption">-->
                <!--<div class="work_title">-->
                    <!--<h1>culpa qui officia deserunt mollit</h1>-->
                <!--</div>-->
            <!--</div>-->
        <!--</a>-->
    <!--</div>-->

    <template v-for="joc in jocs">
        <vista-joc :nom.sync="joc.nom" :imatge="joc.imatge"></vista-joc>
    </template>



    <pre>{{ $data | json }}</pre>

</section><!-- end main -->


<script type="text/template" id="Template_Vista-Joc">

    <div class="work" >
        <a href="#">
            <img src="assets/img/work1.jpg" class="media" alt=""/>
            <div class="caption">
                <div class="work_title">
                    <h1>{{ nom }} - {{ imatge }}</h1>
                </div>
            </div>
        </a>
    </div>


</script>


<script type="text/javascript" src="assets/js/vista.js"></script>





</body>
</html>