<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Your Best Game</title>

    <link rel="stylesheet" type="text/css" href="assets/css/reset.css">
    <link rel="stylesheet" type="text/css" href="assets/css/main.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style-form.css">

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,700">


    <link rel='stylesheetprefetch' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
</head>
<body id="Vista">

<header>
    <div class="logo">
        <a href="index.html"><img src="assets/img/logo.png" title="YourBestGame" alt="YourBestGame"/></a>
    </div><!-- end logo -->

    <div id="menu_icon"></div>
    <nav id="menu_token">
        <ul v-if="!token">
            <li><a href="#">Register</a></li>
            <li><a href="index.html">Login</a></li>
        </ul>
        <ul v-else>
            <li><a href="Vista.html" class="selected">Home</a></li>
            <li><a v-link="{ path: '/MyGames' }">My Games</a></li>
            <li><a v-link="{ path: '/AddNewGame' }">Add new game</a></li>
            <li><a v-link="{ path: '/Logout' }">LogOut</a></li>
        </ul>
    </nav><!-- end navigation menu -->

    <!--<div class="footer clearfix">-->
        <!--<ul class="social clearfix">-->
            <!--<li><a href="#" class="fb" data-title="Facebook"></a></li>-->
            <!--<li><a href="#" class="google" data-title="Google +"></a></li>-->
            <!--<li><a href="#" class="rss" data-title="RSS"></a></li>-->
        <!--</ul>&lt;!&ndash; end social &ndash;&gt;-->

        <!--<div class="rights">-->
            <!--<p>Copyright © 2016 YourBestGame.</p>-->
        <!--</div>&lt;!&ndash; end rights &ndash;&gt;-->
    <!--</div >&lt;!&ndash; end footer &ndash;&gt;-->
</header><!-- end header -->

<section class="main clearfix">

    <router-view></router-view>


</section><!-- end main -->

<template id="home">

    <div class="work" v-for="joc in jocs" >
        <a href="#">
            <img src="assets/img/work1.jpg" class="media" alt=""/>
            <div class="caption">
                <div class="work_title">
                    <h1>{{ joc.nom }} - {{ joc.imatge }}</h1>
                </div>
            </div>
        </a>
    </div>

</template>

<template id="jocsuser">

    <div class="work" v-for="joc in jocs" >
        <a href="#">
            <img src="assets/img/work1.jpg" class="media" alt=""/>
            <div class="caption">
                <div class="work_title">
                    <h1>{{ joc.nom }} - {{ joc.imatge }}</h1>
                </div>
            </div>
        </a>
    </div>

</template>

<template id="AddNewGameUser">

    <section class="top">
        <div class="wrapper content_header clearfix">
            <div class="work_nav">

                <!--<ul class="btn clearfix">-->
                    <!--<li><a href="#" class="previous" data-title="Previous"></a></li>-->
                    <!--<li><a href="index.html" class="grid" data-title="Portfolio"></a></li>-->
                    <!--<li><a href="#" class="next" data-title="Next"></a></li>-->
                    <!--<a href="#" v-on:click.prevent="CreateGame">Prova</a>-->
                <!--</ul>-->

            </div><!-- end work_nav -->
            <h1 class="title">Add Your New Best Game</h1>
        </div>
    </section><!-- end top -->

    <section class="wrapper">
        <div class="content">
            <div id="login">
                <form name='form-login'>
                    <h2>New Game</h2>
                    <span class="fontawesome-asterisk"></span>
                    <input type="text" v-model="nom" placeholder="Nom">
                    <br>
                    <span class="fontawesome-camera-retro"></span>
                    <input type="url" v-model="imagen" placeholder="Imagen(URL)">
                    <br>
                    <span class="fontawesome-link"></span>
                    <input type="url" v-model="URLGame" placeholder="URL Game">
                    <br>
                    <span class="fontawesome-external-link"></span>
                    <!--<input type="password" v-model="categoria" placeholder="Categoria">-->
                    <select name="cars" v-model="categoria">
                        <option value="accion">Acción</option>
                        <option value="rol">Rol</option>
                        <option value="estrategia">Estrategia</option>
                        <option value="aventuras">Aventuras</option>
                        <option value="clásicos">Clásicos</option>
                        <option value="deportes">Deportes</option>
                    </select>

                    <input type="submit" value="Add New Game">

                </form>
            </div>
        </div><!-- end content -->
    </section>

</template>

<!--<script type="text/template" id="Template_Vista-Joc">-->

    <!--<div class="work" >-->
        <!--<a href="#">-->
            <!--<img src="assets/img/work1.jpg" class="media" alt=""/>-->
            <!--<div class="caption">-->
                <!--<div class="work_title">-->
                    <!--<h1>{{ nom }} - {{ imatge }}</h1>-->
                <!--</div>-->
            <!--</div>-->
        <!--</a>-->
    <!--</div>-->

<!--</script>-->

<script type="text/javascript" src="assets/js/dist/jquery.js"></script>
<script type="text/javascript" src="assets/js/dist/main.js"></script>
<script src="assets/js/dist/vue.js"></script>
<script type="text/javascript" src='assets/js/dist/vue%201.0.8v.js'></script>
<script type="text/javascript" src="assets/js/dist/vue-router.js"></script>
<script type="text/javascript" src='assets/js/dist/vue-resource.min.js'></script>



<script type="text/javascript" src="assets/js/vista.js"></script>





</body>
</html>